body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

.phone-screen {
  width: 375px;
  height: 100%;
  margin: 5vh auto;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

header {
  padding: 10px 30px;
}

header.logo {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  place-items: center;
}

header .logo a {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  line-height: 20px;
  padding-top: 20px;
}

.menu-icon {
  margin-left: auto;
  padding-top: 10px;
}

.introduction h1 {
  margin-top: 0;
  font-size: 40px;
  line-height: 52px;
}

.introduction p {
  font-weight: 400;
}

.connect p {
  text-transform: uppercase;
  color: #7f8cff;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 16px;
}

.social-image {
  padding-right: 20px;
}

.connect {
  padding-top: 5px;
}

.phone-screen button {
  margin-top: 20px;
  margin-left: auto;
  all: unset;
}

.first-section {
  background-image: url("images/mobile-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #172b4d;
}

.first-section .introduction {
  padding-top: 100px;
}
